/* global */
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

/* body */
footer {
  margin-top: 50vh;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.jumbotron {
  color: white;
  height: 40vh;
}

.navbar-default {
  background-color: white;
}
.navbar {
  border: none;
}

.nav {
  float: right;
}

.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    opacity: 0;
    font-size: 50px;
  }
  &:hover {
    p {
      transition: 0.5s;
      opacity: 1;
      animation: 0.4s pulse infinite;
    }
  }
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}
