/* global */
* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-weight: 200;
  font-size: medium;
}

img {
  max-width: 100%;
}

/* body */
footer {
  margin-top: 12px;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.jumbotron {
  color: white;
  height: 40vh;
}

.navbar-default {
  background-color: white;
  color: black;
}
.navbar {
  border: none;
}

.nav {
  float: right;
}

.container-fluid {
  color: black;
}

.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    opacity: 0;
    font-size: 50px;
  }
  &:hover {
    p {
      transition: 0.5s;
      opacity: 1;
    }
  }
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.05);}
  100% {transform: scale(1);}
}
